<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-10 offset-1">
      <div class="card mx-xl-5">
        <div class="card-body">
          <!--Header-->
          <div class="form-header deep-blue-gradient rounded">
              <h3><i class="fa fa-lock"></i>Sign Up</h3>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-row">
              <div class="md-form font-weight-light col-md-6 col-12">
                  <i class="fa fa-user-circle prefix grey-text"></i>
                  <%= f.text_field :first_name, class: 'form-control' %>
                  <%= f.label :first_name %>
              </div>
              <div class="md-form font-weight-light col-md-6 col-12">
                  <i class="fa fa-user-circle prefix grey-text d-sm-block d-md-none"></i>
                  <%= f.text_field :last_name, class: 'form-control' %>
                  <%= f.label :last_name %>
              </div>
              <!-- Material input email -->
              <div class="md-form font-weight-light col-12">
                  <i class="fa fa-envelope prefix grey-text"></i>
                  <%= f.email_field :email, class: 'form-control', id: 'email' %>
                  <%= f.label :email, 'Your Email' %>
              </div>
              <!-- Material input password -->
              <div class="md-form font-weight-light col-12">
                  <i class="fa fa-lock prefix grey-text"></i>
                  <%= f.password_field :password, class: 'form-control', id: 'password' %>
                  <%= f.label :password, 'Your Password' %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
              </div>
            </div>
            <div class="text-center mt-4">
              <%= f.submit "Sign Up", class: 'btn btn-light-blue waves-effect waves-light' %>
            </div>
          <% end %>
        </div>
        <!--Footer-->
        <div class="modal-footer">
          <div class="options font-weight-light">
              <p>Forgot <%= link_to "Password?", new_user_password_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>