<div class="row mt-5">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-10 offset-1">
    <div class="card mx-xl-5">
      <div class="card-body">
        <!--Header-->
        <div class="form-header deep-blue-gradient rounded">
            <h3><i class="fa fa-lock"></i>Sign Up</h3>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-row">
            <div class="md-form font-weight-light col-md-6 col-12">
                <i class="fa fa-user-circle prefix grey-text"></i>
                <%= f.text_field :first_name, class: 'form-control', autofocus: 'true' %>
                <%= f.label :first_name %>
            </div>
            <div class="md-form font-weight-light col-md-6 col-12">
                <i class="fa fa-user-circle prefix grey-text d-sm-block d-md-none"></i>
                <%= f.text_field :last_name, class: 'form-control' %>
                <%= f.label :last_name %>
            </div>
            <!-- Material input email -->
            <div class="md-form font-weight-light col-12">
                <i class="fa fa-envelope prefix grey-text"></i>
                <%= f.email_field :email, class: 'form-control', id: 'email' %>
                <%= f.label :email, 'Your Email', for: 'email' %>
            </div>
            <!-- Material input password -->
            <div class="md-form font-weight-light col-12 position-relative password-section">
                <i class="fa fa-lock prefix grey-text"></i>
                <%= f.password_field :password, class: 'form-control', id: 'password' %>
                <%= f.label :password, 'Your Password', for: 'password' %>
                <% password_help = %(
                <div class="container">
                  <div class="row password-help">
                    <h5 style="text-align:center;">Strong Password</h5>
                    <hr>
                    <section>
                      <p>To make a strong password, use a pass phrase!</p>
                      <p>Ex: I like chocolate chip cookies.</p>
                    </section>
                  </div>
                </div>) %>
                <i id="password-info" class="fa fa-user-secret position-absolute blue-text tippy" title="<%= render html: password_help %>"></i>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <small id="password-suggestions" class="form-text text-muted text-danger w-75 m-auto"></small>
                <div class="progress w-75 m-auto">
                  <div id="password-strength-bar" class="progress-bar bg-success" role="progressbar" style="width: 0%"></div>
                </div>
                <div class="evaluation d-flex evaluation justify-content-around">
                  <small id="weak-eval" class="text-muted">Weak</small>
                  <small id="less-weak-eval" class="text-muted">Less Weak</small>
                  <small id="strong-eval" class="text-muted">Stronger</small>
                  <small id="strongest-eval" class="text-muted">It's over 9000!</small>
                </div>
            </div>
            <div class="md-form font-weight-light col-12">
              <i class="fa fa-lock prefix grey-text"></i>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
              <%= f.label :password_confirmation %>
            </div>
          </div>
          <div class="text-center mt-4">
            <%= f.submit "Sign Up", class: 'btn btn-light-blue waves-effect waves-light' %>
          </div>
        <% end %>
      </div>
      <!--Footer-->
      <div class="modal-footer">
        <div class="options font-weight-light">
            <p>Forgot <%= link_to "Password?", new_user_password_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>