<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <%= link_to "Home", root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="ml-auto p-2 nav-item dropdown">
          <%= link_to current_user.full_name, '#', class: 'nav-link dropdown-toggle', role: 'button', data: {toggle: 'dropdown'} %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Settings", edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "Profile", current_user, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-inline', id: 'sign-in-form'}) do |f| %>
          <div class="md-form mt-0">
            <div class="waves-input-wrapper waves-effect waves-light">
              <%= f.email_field :email, autocomplete: "email", class: 'mr-sm-2 form-control', placeholder: 'Email' %>
            </div>
          </div>

          <div class="md-form mt-0">
            <div class="waves-input-wrapper waves-effect waves-light">
              <%= f.password_field :password, autocomplete: "off", class: 'mr-sm-2 form-control', placeholder: 'Password' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, class: 'mr-sm-2 form-control', checked: 'checked', style: 'display:none;' %>
          <% end -%>
          <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Log In</button>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>