<!DOCTYPE html>
<html>
  <head>
    <title>RealTimeBlog</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/693fc3b3e1.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-10">
          <%= yield %>
        </div>
        <% if user_signed_in? %>
          <div class="col-2 card" id="friends" style="padding:0;">
            <%= form_with url: friendship_search_path, class: 'form-inline md-form form-sm active-cyan-2' do |f| %>
              <i class="fa fa-search" aria-hidden="true"></i>
              <%= f.search_field :name, placeholder: 'Find A Friend', class: 'form-control form-control-sm', id: 'friends-search', autocomplete: 'off', style: 'width: 90%;' %>
            <% end %>
            <%= render 'friendships/friends_list' %>
            <div id="search-results">
              <%= render 'friendships/results_list' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= javascript_include_tag 'mdb.min' %>
  </body>
</html>
